<h2>All Donations</h2>
<table>
  <thead>
    <tr>
      <th>Donor</th><th>Amount</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each donations}}
    <tr>
      <td>{{this.donorName}}</td>
      <td>{{this.amount}}</td>
      <td>
        <form action="/admin/donations/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
