<h2>All Users</h2>
<table>
  <thead>
    <tr>
      <th>Name</th><th>Email</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.email}}</td>
      <td>
        <form action="/admin/users/{{this._id}}?_method=DELETE" method="POST">
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
